#titulo {
  margin-bottom: 20px;
  text-align: center;
  border: 2px dashed black; 
  border-radius: 8px;
  font-family: 'Times New Roman', Times, serif;
  background-color: cyan;
  font-weight: bold;
}


#valores {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 10px; 
}


#b {
  text-align: center;
}

#resultado{
  margin-bottom: 20px;
  text-align: center;
  border: 2px solid black; 
  border-radius: 8px;
  font-family: 'Times New Roman', Times, serif;
  background-color: cyan;
  font-weight: bold;
}